div.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));
    gap: var(--gap);
    & .column {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }
}

div.chip {
    background-color: var(--sakura-layer-overlay);
    padding: var(--gap);
    border-radius: var(--padding);
    &:hover {
        & a { color: var(--sakura-text-norm); }
        background-color: var(--sakura-layer-surface);
        & div.img.svg {
            background-color: var(--stroke);
            & path {
                stroke: var(--bg);
            }
        }
    }

    & a {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        color: var(--sakura-layer-inv);
        text-decoration: none;
    }

    & h1 {
        margin: 0;
        height: min-content;
        align-self: center;
    }

    & div.img.svg {
        --bg: var(--sakura-layer-inv);
        --stroke: var(--sakura-layer-base);
        width: 64px;
        padding: var(--gap);
        border-radius: var(--gap);
        background-color: var(--bg);

        &.tree { --bg: var(--sakura-paint-tree); }
        &.pine { --bg: var(--sakura-paint-pine); }
        &.iris { --bg: var(--sakura-paint-iris); }
        &.gold { --bg: var(--sakura-paint-gold); }
        &.foam { --bg: var(--sakura-paint-foam); }
        &.rose { --bg: var(--sakura-paint-rose); }
        &.love { --bg: var(--sakura-paint-love); }

        & svg {
            width: 100%;
            height: min-content;
            & path {
                stroke: var(--stroke);
            }
        }
    }
}
