div.nbi {
    background-color: var(--sakura-layer-surface);
    padding: var(--gap);
    border-radius: var(--gap);

    & form {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    & h1 {
        display: flex;
        margin: 0;
        & input {
            font-size: xx-large;
            font-weight: bold;
        }
    }

    & input, & select {
        border-radius: var(--gap);
        width: 100%;
        padding: var(--gap);
    }

    & select {
        height: 38px;
        background-color: var(--sakura-hl-med);
    }

    & div.selector {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        background-color: var(--sakura-layer-overlay);
        border-radius: var(--gap);
        padding: var(--gap);
        & > div {
            display: flex;
            flex-direction: row;
            gap: var(--gap);
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    & tr:hover {
        background-color: var(--sakura-layer-surface);
    }

    & td.btns {
        width: 0;
    }

    & td:nth-child(n+2):not(:nth-child(n-1)) {
        border-right: 1px solid var(--sakura-hl-high);
        padding: 0px var(--gap);
    }


    & tr:not(:last-child) {
        & .btns > div {
            padding-bottom: calc(var(--gap) / 2);
        }
        & td:not(.btns) {
            border-bottom: 1px solid var(--sakura-hl-high);
        }
    }

    & tr:not(:first-child) {
        & .btns > div {
            padding-top: calc(var(--gap) / 2);
        }
        & td:not(.btns) {
            border-top: 1px solid var(--sakura-hl-high);
        }
    }

    & input {
        height: 38px;
        border-radius: var(--gap);
        padding: 0px var(--gap);
        width: calc(100% - 4px - var(--gap) * 2);
    }
}

