input, select {
    background-color: var(--sakura-layer-surface);
    color: var(--sakura-text-norm);
    border: 2px solid var(--sakura-hl-high);
    padding: var(--padding);
    border-radius: var(--padding);
    & + span.error {
        font-size: small;
    }
    &.mono {
        font-family: "Ubuntu Mono", monospace;
        background-color: var(--sakura-layer-inv);
        color: var(--sakura-layer-surface);
    }
}

input[type="submit"] {
    background-color: var(--sakura-paint-tree);
    color: var(--sakura-layer-base);
    font-weight: bold;
    border: 2px solid var(--sakura-layer-overlay);
    padding: var(--padding);
    border-radius: var(--padding);
    &[disabled] {
        background-color: var(--sakura-paint-love);
        &:hover {
            background-color: var(--sakura-paint-rose);
            cursor: not-allowed;
        }
    }
    &:hover {
        background-color: var(--sakura-paint-gold);
        cursor: pointer;
    }
    & + div.error {
        color: var(--sakura-paint-rose);
        font-size: small;
        font-weight: bold;
    }
}

input.pass {
    border-color: var(--sakura-paint-iris);
}

input.fail {
    border-color: var(--sakura-paint-love);
    color: var(--sakura-paint-love);
}

.img-upload {
    position: relative;
    & label {
        position: absolute;
        bottom: var(--gap);
        right: var(--gap);
        cursor: pointer;
    }
    & img {
        width: 100%;
        border-radius: var(--gap);
        min-height: 48px;
        min-width: 48px;
    }
}

input[name="color"] {
    &[value="rose"] { accent-color: var(--sakura-paint-rose); }
    &[value="pine"] { accent-color: var(--sakura-paint-pine); }
    &[value="foam"] { accent-color: var(--sakura-paint-foam); }
    &[value="iris"] { accent-color: var(--sakura-paint-iris); }
    &[value="tree"] { accent-color: var(--sakura-paint-tree); }
    &[value="gold"] { accent-color: var(--sakura-paint-gold); }
    &[value="love"] { accent-color: var(--sakura-paint-love); }
}

[border] {
    border-radius: var(--pad);
    box-sizing: border-box;
    border: 2px solid var(--sakura-hl-high);
    color: var(--sakura-text-norm);
    background-color: var(--layer);
}


input[border] {
    width: 100%;
    height: var(--btn-size);;
    align-self: center;
    padding: 0 var(--pad);
}

textarea[border] {
    width: 100%;
    padding: var(--pad);
    resize: vertical;
    transition-property: color, background-color, border-color, border-radius;
}

select[border] {
    height: var(--btn-size);
    padding: 0 var(--pad);
    align-self: center;
}

select[disabled] {
    opacity: 50%;
    cursor: not-allowed;
}
